<form class="form-horizontal" name="orderEditForm" ng-submit="updateOrder(orderEditForm.$valid)" novalidate>
    <table class="table movietable">
        <tr>
            <td><h3>订单编辑</h3></td>
        </tr>
        <tr>
            <td class="col-sm-2">订单编号</td>
            <td class="col-sm-10">{{order.orderId}}</td>
        </tr>
        <tr>
            <td class="col-sm-2">被检测人姓名</td>
            <td class="col-sm-10" ng-class="{ 'has-error': orderEditForm.uName.$invalid && orderEditForm.uName.$dirty }">
                <input class="form-control" type="text" name="uName" ng-model="order.ordCollName" required/>
                <span ng-show="orderEditForm.uName.$invalid && !orderEditForm.uName.$pristine" class="help-block">姓名是必填项</span>
            </td>
        </tr>
        <tr>
            <td>被检测人电话</td>
            <td class="col-sm-10" ng-class="{ 'has-error': orderEditForm.telphone.$invalid && !orderEditForm.telphone.$pristine}">
                <input class="form-control"  type="text" name="telphone"  ng-required="true"  ng-pattern="/^1\d{10}$/" ng-model ="order.ordCollMobile" />
                <span ng-show="orderEditForm.telphone.$error.required && !orderEditForm.telphone.$pristine" class="help-block">手机号必填</span>
                <span ng-show="orderEditForm.telphone.$error.pattern && !orderEditForm.telphone.$pristine" class="help-block">手机号为<b>11</b>位有效数字</span>
            </td>
        </tr>

        <tr>
            <td>订单创建人</td>
            <td class="col-sm-10" ng-class="{ 'has-error': orderEditForm.crea_user.$invalid && !orderEditForm.crea_user.$pristine}">
                <!--<input class="form-control ng-pristine ng-valid" type="text" ng-model="order.ordCreateUserId"/>-->
                <select class="form-control" name="crea_user" ng-model='user' ng-options="user.userName for user in users" required>
                </select>
                <span ng-show="orderEditForm.crea_user.$error.required && !orderEditForm.crea_user.$pristine" class="help-block">请指定订单录入人</span>
            </td>
        </tr>
        <!--<tr>-->
            <!--<td class="col-sm-2">订单状态</td>-->
            <!--<td class="col-sm-10"><input class="form-control" type="text" ng-model="order.ordState"/> </td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td class="col-sm-2">订单创建时间</td>-->
            <!--<td class="col-sm-10">{{order.ordCreateTime | date:'yyyy/MM/dd' }}</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td class="col-sm-2">工单列表</td>-->
            <!--<td class="col-sm-10">-->
                <!--<ul>-->
                    <!--<li style="cursor: pointer;" ng-repeat="request in requests">-->
                        <!--<a ui-sref="home.reqDetail({reqId:request.requestId})">{{request.personName}}</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<a ui-sref="home.reqAdd()" class="btn btn-info">新增工单</a>-->
            <!--</td>-->
        <!--</tr>-->
    </table>
    <div>
        <input type="button" class="btn btn-primary" value="返回" ng-click='doHisBack()'/>
        <input type="submit" class="btn btn-primary" value="保存" ng-disabled="orderEditForm.$invalid"/>
    </div>


</form>

