<form class="form-horizontal" name="orderForm" ng-submit="saveOrder(orderForm.$valid)" novalidate >
    <table class="table movietable">
        <tr>
            <td><h3>订单创建</h3></td>

        </tr>
        <tr>
            <td >被检测人姓名</td>
            <td class="col-sm-10" ng-class="{ 'has-error' : orderForm.uName.$invalid && !orderForm.uName.$pristine }">
                <input class="form-control" type="text" name="uName" ng-model="order.ordCollName" required />
                <!--<span ng-show="showError(orderForm.uName, 'required')">被检测人姓名是必填项</span>-->
                <!--<p ng-show="orderForm.uName.$error.required" class="help-block">姓名不能为空 .</p>-->
                <span ng-show="orderForm.uName.$invalid && !orderForm.uName.$pristine" class="help-block">被检测人姓名是必填项</span>
            </td>
        </tr>

        <tr>
            <td>被检测人电话</td>
            <td class="col-sm-10" ng-class="{ 'has-error': orderForm.telphone.$invalid && !orderForm.telphone.$pristine}">
                <input class="form-control"  type="text" name="telphone"  ng-required="true"  ng-pattern="/^1\d{10}$/" ng-model ="order.ordCollMobile" />
                <span ng-show="orderForm.telphone.$error.required && !orderForm.telphone.$pristine" class="help-block">手机号必填</span>
                <span ng-show="orderForm.telphone.$error.pattern && !orderForm.telphone.$pristine" class="help-block">手机号为<b>11</b>位有效数字</span>
            </td>
        </tr>
        <tr>
            <td>订单创建人</td>
            <!--<td class="col-sm-10" ng-class="{ 'has-error': orderForm.crea_user.$invalid && !orderForm.crea_user.$pristine}">-->
                <!--&lt;!&ndash;<input class="form-control ng-pristine ng-valid" type="text" ng-model="order.ordCreateUserId"/>&ndash;&gt;-->
                <!--<select class="form-control" name="crea_user" ng-model='user' ng-options="user.userName for user in users" required>-->
                    <!--<option value="">--请选择创建人--</option>-->
                <!--</select>-->
                <!--<span ng-show="orderForm.crea_user.$error.required && !orderForm.crea_user.$pristine" class="help-block">请指定订单录入人</span>-->
            <!--</td>-->
            <td>{{currentUser.userName}}</td>
        </tr>
        <!--<tr>-->
            <!--<td>工单列表</td>-->
            <!--<td>-->
                <!--<a ui-sref="home.reqAdd()" class="btn btn-info">添加工单</a>-->
            <!--</td>-->
        <!--</tr>-->
    </table>
    <div>
        <button type="submit" class="btn btn-primary" ng-disabled="orderForm.$invalid">创建工单</button>
    </div>

</form>