<form class="form-horizontal" name="editUserForm" ng-submit="updateUser(editUserForm.$valid)" novalidate>
    <table class="table movietable">
        <tr>
            <td><h3>用户编辑</h3></td>
        </tr>
        <tr>
            <td class="col-sm-2">用户编号</td>
            <td class="col-sm-10">{{user.userid}}</td>
        </tr>
        <tr>
            <td class="col-sm-2">检测人姓名</td>
            <td class="col-sm-10" ng-class="{'has-error': editUserForm.uName.$invalid && editUserForm.uName.$dirty }">
                <input class="form-control" type="text" ng-model="user.userName" name="uName" required/>
                <span ng-show="editUserForm.uName.$invalid && editUserForm.uName.$dirty " class="help-block">检测人姓名是必填项</span>
            </td>
        </tr>
        <tr>
            <td class="col-sm-2">检测人密码</td>
            <td class="col-sm-10" ng-class="{'has-error': editUserForm.pwd.$invalid && editUserForm.pwd.$dirty }">
                <input class="form-control" type="text" ng-model="user.loginPwd" name="pwd" maxlength="6" required/>
                <span ng-show="editUserForm.pwd.$invalid && editUserForm.pwd.$dirty" class="help-block">检测人密码不能为空</span>
            </td>
        </tr>
        <tr>
            <td class="col-sm-2">检测人联系方式</td>
            <td class="col-sm-10" ng-class="{'has-error': editUserForm.telephone.$invalid && editUserForm.telephone.$dirty }">
                <input class="form-control" type="text"  name="telephone" ng-model="user.userMobile" ng-pattern="/^1\d{10}$/" ng-required="true"/>
                <span ng-show="editUserForm.telephone.$error.required && editUserForm.telephone.$dirty" class="help-block">手机号必填</span>
                <span ng-show="editUserForm.telephone.$error.pattern && editUserForm.telephone.$dirty" class="help-block">手机号为<b>11</b>位有效数字</span>
            </td>
        </tr>

        <tr>
            <td class="col-sm-2">角色分配</td>
            <td class="col-sm-10" ng-class="{'has-error': editUserForm.role.$invalid && editUserForm.role.$dirty }">
                <select  class="form-control" ng-model="role" ng-options="role.name for role in roles" name="role" required>
                    <option value="">--请选择权限--</option>
                </select>
                <span ng-show="editUserForm.role.$error.required && editUserForm.role.$dirty" class="help-block">请选择权限</span>
            </td>
        </tr>
    </table>
    <div>
        <input type="button" class="btn btn-primary" value="返回" ng-click="doBack()"/>
        <button type="submit" class="btn btn-primary" ng-disabled="editUserForm.$invalid">保存</button>
    </div>
</form>

